

.email-class{
    background: white;
    
    border-radius : 5px;
   
}
.email-class-div{
    height : 400px;
}
.lis-cls{
    border-radius: 0; 
    
}
/*body, html{
  height:100%;
  }*/

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    background: #139ff0 !important;
    width : 100%;
}
body{
      background: #139ff0 !important;
}

.app-sm{
    width :44%;
     
}
.app-lg{
    width : 100%;

}

.login-cls input{
  border: 0;
  font-size: 18px !important;
 
}

.login-cls input:focus{
  outline: 0;
}



.login-cls .androidTextbox:after{
    content: "";
	display: inline-block;
    position: relative;
	border:1px solid #f0edf0;
    border-top: none;
    border-left: none;
    border-right: none;
	width: 80%;
 
}
.row-feed{
    margin-left : 0 !important;
    margin-right : 0 !important;
}
.row-login {
    margin-left : 10% !important;
    margin-top : 10%;
}
.header-class{
    position : relative;
    top : 9%;
}

#button{
    border-radius : 15px;
    text-align: center;
    width : 125px;
    height : 35px;
    line-height: 35px;
    background: #139ff0;
    color : white;
    cursor : pointer;
    
}
.float-class{
    float : left;
}
.img-class{
    top: 14px;
    position: relative;
    left: 5px;

}
.list-header{
    text-align: center;
}
.feed-text{
    padding-left : 50px;
}
.btn-cls{
    float: right !important;
    top: 5px;
    right: 6px;
    position: relative;
}

.popup-cls{
    position : absolute;
    z-index: 100;
    width : 100%;
    height : 100%;
    background: 139ff0;
    left : 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-feed{
    width : 44%;
    height : 400px;
}
.add-feed table td{
    padding : 10px;
}
.add-feed textarea{
    resize : none;
}
.add-feed input{
    width : 100%;
}


.add-story{
    width : 100%;
    height : 800px;
}
.add-story table td{
    padding : 10px;
}
.add-story textarea{
    resize : none;
    width : 100%;
}
.add-story input{
    width : 100%;
}



#post-btn{
    width : 100px;
}
.cross-cls{
    float: right;
    top: -10px;
    position: relative;
    left: 26px;
    cursor : pointer;
}

.error-div{
        color: red;
    top: 50px;
    position: relative;
    left: 10%;

}
.display-block-cls{
    display : block !important;
}
.vote-cls{
    text-align:center;
}
#read,#delete{
    margin-right: 10px !important;
}
.upvote{
background : green;
color : white;
padding:2px;
}
.downvote{
    background : red;
    color : white;
    padding:2px;
}
.imp-cls{
    border-top :1px solid red !important;
}
.hr-cls{
    border-top :1px solid #139ff0 !important;
}
.hide-cls{
    display : none;
}
.create-btn{
    margin-right : 5px;
    
}
.fixed-cls{
    position : fixed;
}
.float-right{
    float : right !important;
}
#story-btn{
  width :100%;
  padding-left : 0;
  padding-right : 0;
}
#feed-btn{
left : 80%;
}
.add-story-top{
    top : 339px;
}
.add-story table{
    width : 100%;
}
.add-story table td:first-child{
padding-left:8%;
}
.add-story table td:last-child{
padding-right:5%;
}
#main-content,.left-pane{
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top : 60px;
}

.left-pane{
    height: 200px;
    position:fixed !important;
    z-index:1000;
    background-color: #dedede;
}
#app .row{
    margin-left :0;
    margin-right: 0;
}
.header.row{
    margin-left : 0;
    margin-right :0;
    height : 60px;
    background : #283e4a;
    position: fixed;
    z-index: 1000;
    width:100%;
    text-align: center;
    font-size: 20px;
    color : white;
    font-weight: bold;
    padding-top : 15px;
}

